<h1>Naruto Shippuden</h1>
<div class="container">
    <img src="https://wallpaperaccess.com/full/677430.jpg">
</div>
<div class="container2">
    <p>
        Naruto. Es una serie de manga creada por Masashi Kishimoto y 
        adaptada al anime por Hayato Date, que narra la historia de un 
        ninja adolescente llamado Naruto Uzumaki, cuyo sueño es convertirse en Hokage,
        el máximo grado ninja en su aldea, con el objetivo de ser reconocido dentro de 
        la misma como alguien importante.
    </p>
    <a [routerLink]="['gallery']">View Characters</a>
</div>